{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-9">
            <div id="map" style="width:100%; height:80vh"></div>
        </div>
        <div class="col-3">
            <form action="{{ url_for('map.get_route') }}" method="POST">
                <div class="form-group">
                    <label for="SelectCar">Выберите автомобиль</label>
                    <select class="form-control" id="SelectCar">
                    <option selected="selected"></option>
                    {% for car in cars %}
                    <option>{{ car.plate }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div id="datepicker"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript">
    var route;
    var days = [];
    var today = new Date();
    var selectday = new Date(today.getFullYear(), today.getMonth(), 2).getTime();

    map = L.map('map', {
        center: [55.74, 37.61],
        zoom: 12
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    function updateCalendar() {
        days = [];
        car = $("#SelectCar").val();
        if (car != "") {
            $.ajax({
                type: "POST",
                url: "{{ url_for('map.get_dates') }}",
                data: {
                    "car": car,
                    "date": selectday
                },
                success: function (data) {
                    for (x of data.dates) {
                        days.push(parseInt(x));
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                async: false
            });
        };
        $("#datepicker").datepicker("refresh");
        if (route) {route.remove();}
        map.setView([55.74, 37.61], 12);
    }

    $('#SelectCar').change(updateCalendar);

    $("#datepicker").datepicker({
        firstDay: 1,
        dayNamesMin: ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
        monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        beforeShowDay: function(date){
            if (days.includes(date.getDate())) {
                return [true];
            } else {
                return [false];
            }
        },
        onChangeMonthYear: function(year, month, inst) {
            window.selectday = new Date(year, month-1, 2).getTime();
            updateCalendar();
        },
        onSelect: function(date, inst) {
            $.ajax({
                type: "POST",
                url: "{{ url_for('map.get_route') }}",
                data: {
                    "car": car,
                    "date": date
                },
                success: function (data) {
                    if (route) {route.remove();}
                    route = L.Routing.control({
                                waypoints: data.route,
                                language : 'ru',
                                lineOptions: {
                                    styles: [{color: 'blue', opacity: 0.8, weight: 3}]
                                }
                            }).addTo(map);
                },
                error: function (error) {
                    console.log(error);
                },
            });
        }
    });
</script>
{% endblock %}